[Unit]
Description=Notification Service
After=syslog.target network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/notifications
ExecStart=/home/notifications/notifiers/target/release/notifiers --certificate-file /home/notifications/cert.p12 --password "p4ssw0rd" --topic "chat.delta" --interval 20m
Restart=unless-stopped
RestartSec=60
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all
User=notifications
Group=notifications

[Install]
WantedBy=multi-user.target

